.box {
    background-color: #e6f9ff;
    width: 700px;
    border: 15px solid #007399;
    padding: 50px;
    margin: 20px;
}

H1,
h3 {
    color: #004d66;
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

.weather {
    font-size: 40px;
    color: #004d66;
    padding: 10px;
}

.temp {
    font-size: 22px;
}

p {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    color: #004d66;
}

.days,
.temp {
    color: #004d66;
    font-family: "Fira Sans", sans-serif;
}